@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: black;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.container {
    margin-top: 100px;
    height: 600px;
    width: 530px;
    border-radius: 10px;
    background: lemonchiffon;
    box-shadow: 0 5px 10px 5px rgba(121, 121, 121, 0.5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: black;
    color: white;
    border-radius: 10px 10px 0 0;
}

.player-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.player-container {
    width: 50%;
    text-align: center;
}

.player-container h3 {
    margin-bottom: 10px;
}

.far {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.selected {
    background: black;
    color: white;
}

#player h3 {
    color: rgb(27, 70, 162);
}

#computer h3 {
    color: rgb(197, 21, 21 );
}

#player .far {
    cursor: pointer;
}

#computer .far {
    cursor: not-allowed;
}

.central-container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.central-container img {
    width: 170px;
}

.rotate {
    transform: rotateY(180deg);
}

/* Hand Animations */
@keyframes shakePlayer {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-50px);
    }
    25% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }
    15% {
        transform: rotateY(180deg) translateY(-50px);
    }
    25% {
        transform: rotateY(180deg) translateY(0px);
    }
    35% {
        transform: rotateY(180deg) translateY(-50px);
    }
    50% {
        transform: rotateY(180deg) translateY(0px);
    }
    65% {
        transform: rotateY(180deg) translateY(-50px);
    }
    75% {
        transform: rotateY(180deg) translateY(0px);
    }
    85% {
        transform: rotateY(180deg) translateY(-50px);
    }
    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}

/* Result Container */

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-text {
    font-size: 30px;
    margin: unset;
    margin-top: 20px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 20px;
}

.footer span {
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.footer span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
}

.restart {
    font-size: 40px;
    cursor: pointer;
}

@media (min-width: 800px) {
    #player .far:hover {
        background: black;
        color: white;
        transition: all 0.5s;
    }
    .restart:hover {
        rotate: 360deg;
        transition: rotate 0.5s;
    }
}